/*******************************************************************************
*
*  Core » Definitions
*
*  Contains all main base styles and resets. It was
*  heavily based on Paul Irish's HTML5 Boilerplate.
*
*  http://html5boilerplate.com/
*
*******************************************************************************/

html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body { background: #fff; }

body,
select { color: $TEXT-COLOR; }


/*********************************************************************
*  =Links
*********************************************************************/

a, a:visited {
  color: $LINK-COLOR;
  text-decoration: underline;
}

a:hover {
  color: $LINK-HOVER-COLOR;
}

a:active {
  color: $LINK-ACTIVE-COLOR;
}

a:focus { outline: thin dotted; }


/*********************************************************************
*  =Selection
*********************************************************************/

::-moz-selection { background: $SELECTION-BACKGROUND; color: $SELECTION-COLOR; text-shadow: none; }
::selection { background: $SELECTION-BACKGROUND; color: $SELECTION-COLOR; text-shadow: none; }


/*********************************************************************
*  =Media
*********************************************************************/

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* Correct overflow not hidden in IE9 */
svg:not(:root) { overflow: hidden; }


/*********************************************************************
*  =Navigation
*********************************************************************/

nav ul,
nav ol { list-style: none; margin: 0; }