/*******************************************************************************
*
*  Core » Forms
*
*  Contains all form styles. It was
*  heavily based on Paul Irish's HTML5 Boilerplate.
*
*  http://html5boilerplate.com/
*
*******************************************************************************/

input, select { vertical-align: middle; }

select, input, textarea, button { font: 99% sans-serif; }

input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

textarea { overflow: auto; }

input[type=text],
input[type=email],
input[type=url],
textarea {
  background: #fff;
  border-top: 1px solid #999;
  border-right: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-bottom: 1px solid #ccc;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .3) inset;
  color: #444;
  font-size: 1em;
  padding: 0.5em 0.38em 0.38em;
  width: 100%; /* default behavior is extending to full area, overwrite as needed */
  font-family: sans-serif;
}

input:focus,
textarea:focus {
  box-shadow: 0 0 5px #0080ff;
}

::-webkit-input-placeholder  { font-style: italic; }
input:-moz-placeholder { font-style: italic; }