/*********************************************************************
*
*  Config Module
*  Eduardo Shiota Yasuda
*  contato@eshiota.com
*  
*  Non-semantic helper classes used through the site.
*
*********************************************************************/

/* Clearfix hack with a meaningful name */
.cgroup:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

html.ie7 .cgroup { zoom: 1; }

.hidden { display: none; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}