@charset "UTF-8";
/*******************************************************************************
*
*  % SITE NAME %
*  % Author Name %
*  % author@email %
*  
*  % Site description %
*
*  This website was heavily based on Paul Irish's
*  HTML5 Boilerplate, and adapted to my needs. You should definetely
*  check it out:
*
*  http://html5boilerplate.com/
*
*  This is a bootstrap file that loads all modules,
*  generating a single CSS file.
*
********************************************************************************/
/*******************************************************************************
*  =Bootstrap
*******************************************************************************/
/*********************************************************************
*
*  Config Module
*  
*  All constants that will be used though the styles must be
*  defined here.
*
*********************************************************************/
/*********************************************************************
*
*  Mixins Module
*  
*  All general purpose mixins are defined here.
*
*********************************************************************/
/*********************************************************************
*  =Clearfix
*********************************************************************/
/*********************************************************************
*
*  Config Module
*  
*  Non-semantic helper classes used through the site.
*
*********************************************************************/
/* line 9, /Users/eshiota/Sites/sandbox/html5_sushiplate/stylesheets/scss/base/_helpers.scss */
.hidden {
  display: none;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
/* line 12, /Users/eshiota/Sites/sandbox/html5_sushiplate/stylesheets/scss/base/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*******************************************************************************
*
*  Core » Reset
*  
*  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
*  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
*  html5doctor.com/html-5-reset-stylesheet/
*
*******************************************************************************/
/* line 22, /Users/eshiota/Sites/sandbox/html5_sushiplate/stylesheets/scss/core/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li, a,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 24, /Users/eshiota/Sites/sandbox/html5_sushiplate/stylesheets/scss/core/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/*******************************************************************************
*
*  Core » Definitions
*  
*  Contains all main base styles and resets. It was
*  heavily based on Paul Irish's HTML5 Boilerplate.
*
*  http://html5boilerplate.com/
*
*******************************************************************************/
/* line 12, /Users/eshiota/Sites/sandbox/html5_sushiplate/stylesheets/scss/core/_basic.scss */
html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 18, /Users/eshiota/Sites/sandbox/html5_sushiplate/stylesheets/scss/core/_basic.scss */
body {
  background: #fff;
}

/* line 21, /Users/eshiota/Sites/sandbox/html5_sushiplate/stylesheets/scss/core/_basic.scss */
body,
select {
  color: #333333;
}

/*********************************************************************
*  =Links
*********************************************************************/
/* line 28, /Users/eshiota/Sites/sandbox/html5_sushiplate/stylesheets/scss/core/_basic.scss */
a:hover, a:active {
  outline: none;
}

/* line 30, /Users/eshiota/Sites/sandbox/html5_sushiplate/stylesheets/scss/core/_basic.scss */
a, a:visited {
  color: #2d96d1;
  text-decoration: underline;
}

/* line 35, /Users/eshiota/Sites/sandbox/html5_sushiplate/stylesheets/scss/core/_basic.scss */
a:hover {
  color: #76bbff;
}

/* line 39, /Users/eshiota/Sites/sandbox/html5_sushiplate/stylesheets/scss/core/_basic.scss */
a:active {
  color: #0058ae;
}

/*********************************************************************
*  =Selection
*********************************************************************/
/* line 48, /Users/eshiota/Sites/sandbox/html5_sushiplate/stylesheets/scss/core/_basic.scss */
::-moz-selection {
  background: #4cabdb;
  color: white;
  text-shadow: none;
}

/* line 49, /Users/eshiota/Sites/sandbox/html5_sushiplate/stylesheets/scss/core/_basic.scss */
::selection {
  background: #4cabdb;
  color: white;
  text-shadow: none;
}

/*********************************************************************
*  =Media
*********************************************************************/
/* line 56, /Users/eshiota/Sites/sandbox/html5_sushiplate/stylesheets/scss/core/_basic.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/*********************************************************************
*  =Navigation
*********************************************************************/
/* line 68, /Users/eshiota/Sites/sandbox/html5_sushiplate/stylesheets/scss/core/_basic.scss */
nav ul,
nav ol {
  list-style: none;
  margin: 0;
}

/*******************************************************************************
*
*  Core » Forms
*  
*  Contains all form styles. It was
*  heavily based on Paul Irish's HTML5 Boilerplate.
*
*  http://html5boilerplate.com/
*
*******************************************************************************/
/* line 12, /Users/eshiota/Sites/sandbox/html5_sushiplate/stylesheets/scss/core/_forms.scss */
input, select {
  vertical-align: middle;
}

/* line 14, /Users/eshiota/Sites/sandbox/html5_sushiplate/stylesheets/scss/core/_forms.scss */
select, input, textarea, button {
  font: 99% sans-serif;
}

/* line 16, /Users/eshiota/Sites/sandbox/html5_sushiplate/stylesheets/scss/core/_forms.scss */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 17, /Users/eshiota/Sites/sandbox/html5_sushiplate/stylesheets/scss/core/_forms.scss */
input[type="checkbox"] {
  vertical-align: bottom;
}

/* line 18, /Users/eshiota/Sites/sandbox/html5_sushiplate/stylesheets/scss/core/_forms.scss */
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 19, /Users/eshiota/Sites/sandbox/html5_sushiplate/stylesheets/scss/core/_forms.scss */
.ie6 input {
  vertical-align: text-bottom;
}

/* line 21, /Users/eshiota/Sites/sandbox/html5_sushiplate/stylesheets/scss/core/_forms.scss */
textarea {
  overflow: auto;
}

/* line 26, /Users/eshiota/Sites/sandbox/html5_sushiplate/stylesheets/scss/core/_forms.scss */
input[type=text],
input[type=email],
input[type=url],
textarea {
  background: #fff;
  border-top: 1px solid #999;
  border-right: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-bottom: 1px solid #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  color: #444;
  font-size: 1em;
  padding: 0.5em 0.38em 0.38em;
  width: 100%;
  /* default behavior is extending to full area, overwrite as needed */
  font-family: sans-serif;
}

/* line 43, /Users/eshiota/Sites/sandbox/html5_sushiplate/stylesheets/scss/core/_forms.scss */
input:focus,
textarea:focus {
  -moz-box-shadow: 0 0 5px #0080ff;
  -webkit-box-shadow: 0 0 5px #0080ff;
  -o-box-shadow: 0 0 5px #0080ff;
  box-shadow: 0 0 5px #0080ff;
}

/* line 47, /Users/eshiota/Sites/sandbox/html5_sushiplate/stylesheets/scss/core/_forms.scss */
::-webkit-input-placeholder {
  font-style: italic;
}

/* line 48, /Users/eshiota/Sites/sandbox/html5_sushiplate/stylesheets/scss/core/_forms.scss */
input:-moz-placeholder {
  font-style: italic;
}

/*******************************************************************************
*
*  Core » Tables
*  
*  Contains all table related styles.
*
*******************************************************************************/
/* line 9, /Users/eshiota/Sites/sandbox/html5_sushiplate/stylesheets/scss/core/_tables.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*******************************************************************************
*
*  Core » Typography
*  
*  Contains all typographical elements styles. It was
*  heavily based on Paul Irish's HTML5 Boilerplate.
*
*  http://html5boilerplate.com/
*
*******************************************************************************/
/* 10px / 16px - 62.5% */
/* line 13, /Users/eshiota/Sites/sandbox/html5_sushiplate/stylesheets/scss/core/_typography.scss */
body {
  font: normal normal 62.5%/1.4em sans-serif;
}

/* line 17, /Users/eshiota/Sites/sandbox/html5_sushiplate/stylesheets/scss/core/_typography.scss */
blockquote, q {
  quotes: none;
}

/* line 20, /Users/eshiota/Sites/sandbox/html5_sushiplate/stylesheets/scss/core/_typography.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 22, /Users/eshiota/Sites/sandbox/html5_sushiplate/stylesheets/scss/core/_typography.scss */
abbr {
  text-transform: lowercase;
}

/* line 24, /Users/eshiota/Sites/sandbox/html5_sushiplate/stylesheets/scss/core/_typography.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 26, /Users/eshiota/Sites/sandbox/html5_sushiplate/stylesheets/scss/core/_typography.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* line 28, /Users/eshiota/Sites/sandbox/html5_sushiplate/stylesheets/scss/core/_typography.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 29, /Users/eshiota/Sites/sandbox/html5_sushiplate/stylesheets/scss/core/_typography.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 30, /Users/eshiota/Sites/sandbox/html5_sushiplate/stylesheets/scss/core/_typography.scss */
del {
  text-decoration: line-through;
}

/* line 31, /Users/eshiota/Sites/sandbox/html5_sushiplate/stylesheets/scss/core/_typography.scss */
small {
  font-size: 85%;
}

/* line 32, /Users/eshiota/Sites/sandbox/html5_sushiplate/stylesheets/scss/core/_typography.scss */
strong, th {
  font-weight: bold;
}

/* line 33, /Users/eshiota/Sites/sandbox/html5_sushiplate/stylesheets/scss/core/_typography.scss */
sub {
  vertical-align: sub;
  font-size: smaller;
}

/* line 34, /Users/eshiota/Sites/sandbox/html5_sushiplate/stylesheets/scss/core/_typography.scss */
sup {
  vertical-align: super;
  font-size: smaller;
}

/* line 36, /Users/eshiota/Sites/sandbox/html5_sushiplate/stylesheets/scss/core/_typography.scss */
ul, ol {
  font-size: 1.5em;
  line-height: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 1.5em;
}

/* line 43, /Users/eshiota/Sites/sandbox/html5_sushiplate/stylesheets/scss/core/_typography.scss */
ol {
  list-style: inside decimal;
}

/* line 44, /Users/eshiota/Sites/sandbox/html5_sushiplate/stylesheets/scss/core/_typography.scss */
ul {
  list-style: inside disc;
}

/* line 49, /Users/eshiota/Sites/sandbox/html5_sushiplate/stylesheets/scss/core/_typography.scss */
ul ul,
ul ol,
ol ul,
ol ol {
  font-size: 1em;
  margin-bottom: 0;
  margin-left: 1.5em;
}

/* line 56, /Users/eshiota/Sites/sandbox/html5_sushiplate/stylesheets/scss/core/_typography.scss */
ul p,
ol p {
  font-size: 1em;
}

/* line 59, /Users/eshiota/Sites/sandbox/html5_sushiplate/stylesheets/scss/core/_typography.scss */
ul li,
ol li {
  margin-bottom: 0.5em;
}

/* line 62, /Users/eshiota/Sites/sandbox/html5_sushiplate/stylesheets/scss/core/_typography.scss */
ul li li,
ol li li {
  margin-bottom: 0;
}

/* line 64, /Users/eshiota/Sites/sandbox/html5_sushiplate/stylesheets/scss/core/_typography.scss */
p {
  font-size: 1.5em;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

/* line 70, /Users/eshiota/Sites/sandbox/html5_sushiplate/stylesheets/scss/core/_typography.scss */
p + p {
  margin-top: -0.3em;
}

/* line 72, /Users/eshiota/Sites/sandbox/html5_sushiplate/stylesheets/scss/core/_typography.scss */
pre {
  padding: 15px;
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

/* line 80, /Users/eshiota/Sites/sandbox/html5_sushiplate/stylesheets/scss/core/_typography.scss */
blockquote {
  padding-left: 1.5em;
  border-left: 3px solid #b55e5e;
  margin-left: 4.5em;
  font-size: 1.1em;
  font-style: italic;
  margin-bottom: 1.5em;
}

/*********************************************************************
*  =Headers
*********************************************************************/
/* line 94, /Users/eshiota/Sites/sandbox/html5_sushiplate/stylesheets/scss/core/_typography.scss */
h1 {
  font: normal normal 5.6em/1.2em sans-serif;
  margin-bottom: 0.75em;
}

/* line 99, /Users/eshiota/Sites/sandbox/html5_sushiplate/stylesheets/scss/core/_typography.scss */
h2 {
  font: normal normal 3.6em/0.8em sans-serif;
  margin-bottom: 1em;
  padding-top: 0.5em;
}

/* line 105, /Users/eshiota/Sites/sandbox/html5_sushiplate/stylesheets/scss/core/_typography.scss */
h3 {
  font: normal normal 2.3em/1em sans-serif;
  margin-bottom: 1em;
  padding-top: 0.5em;
}

/* line 111, /Users/eshiota/Sites/sandbox/html5_sushiplate/stylesheets/scss/core/_typography.scss */
h4 {
  font: normal bold 1.7em/1em sans-serif;
  margin-bottom: 1em;
  padding-top: 0.5em;
}

/*******************************************************************************
*
*  Layout » Main
*  
*  Contains the base for the layout: grid and main components.
*
*******************************************************************************/
/* line 9, /Users/eshiota/Sites/sandbox/html5_sushiplate/stylesheets/scss/layout/_main.scss */
section, article {
  margin-bottom: 1.5em;
}

/*******************************************************************************
*
*  Media Queries » Wide (more than 1200px)
*
*  These styles will be applied to widescreen-like viewports.
*
*******************************************************************************/
/*******************************************************************************
*
*  Media Queries » Less than 960px
*
*  These styles will be applied when viewport has less than the
*  commonly used 960px
*
*******************************************************************************/
/*******************************************************************************
*
*  Media Queries » Less than 768px
*
*  These styles will be applied to portable devices with large screens
*  (e.g. portrait tablets, netbooks)
*
*******************************************************************************/
/*******************************************************************************
*
*  Media Queries » Less than 520px
*
*  These styles will be applied to portable devices with small screens
*  (e.g. smartphones)
*
*******************************************************************************/
/*******************************************************************************
*
*  Media Queries » Retina Display
*
*  Query for high-density displays (2x pixel ratio)
*
*******************************************************************************/
