/*********************************************************************
*
*  Config Module
*  
*  All constants that will be used though the styles must be
*  defined here.
*
*********************************************************************/

$TEXT-COLOR           : #333;

$SELECTION-BACKGROUND : #4cabdb;
$SELECTION-COLOR      : #fff;

$LINK-COLOR           : #2d96d1;
$LINK-HOVER-COLOR     : #76bbff;
$LINK-ACTIVE-COLOR    : #0058ae;