/*********************************************************************
*
*  Config Module
*  
*  Non-semantic helper classes used through the site.
*
*********************************************************************/

.hidden { display: none; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}