/*********************************************************************
*
*  Mixins Module
*  
*  All general purpose mixins are defined here.
*
*********************************************************************/

/*********************************************************************
*  =Clearfix
*********************************************************************/

@mixin clearfix {
  &:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
  }
  
  zoom: 1;
}